html{
  background: url("../../assets/img/wbg.jpg") no-repeat center center fixed;
  background-size: cover;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
}

#entirePage {

		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4), 0 7px 20px 0 rgba(0,0,0,0.4);
		border-radius: 35px;
		background:rgba(244, 244, 244, 0.5);
		height: auto;
		width: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		display: block;
		margin: auto;
		animation-name: slideModalContent;
		animation-duration: 1s;
}

#entirePopup {
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4), 0 7px 20px 0 rgba(0,0,0,0.4);
		border-radius: 35px;
		background: #F4F4F4FF;
		height: auto;
		width: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		display: block;
		margin: auto;
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#greenhr{
  background-color: green;
  opacity: 0.5;
}

.estatus{
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-weight: bold;
	font-size: 0.9rem;
}

.smooth-jazz{
  animation-name: slideHeader;
	animation-duration: 1s;
}

.card{
  border-radius: 1rem;
  font-size: 1.1rem;
}

.border{
  border-width: 2px !important;
}



.btn{
		border-radius: 15px;
		transition-duration: 0.1s;
		color: #111;
		background-color: #FFF;
		border-color: #13673A;
}
.btn:hover{
		background-color: #13673A;
		color: #FFF;
}
.btn:active {
		background-color: #13673A;
}

.boton{
	border-radius: 11px;
	height: 30px;
	width: 100%;
	border-width: 1px;
	transition-duration: 0.3s;
	background-color: #FFF;
	border-color: #13673A;
}

.boton:hover {
	background-color: #13673A;
	color: #FFF;
}


.boton-add, .boton-del, .boton-regresar, .boton-plus{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
		background-size: Contain;
    border-radius: 12px;
		border: none;
    cursor: pointer;
    height: 30px;
    padding-left: 16px;
    vertical-align: middle;
}

.boton-regresar{
	background-image: url(../../assets/img/regresar.png);
	height: 50px;

}

.boton-add{
		background-image: url(../../assets/img/exito.png);
}

.boton-del{
		background-image: url(../../assets/img/error.png);
}


.boton-plus{
	background-image: url(../../assets/img/mas.png);
}

/* .botonsm:hover {
	background-color: #13673A;
	color: #FFF;
} */
#header-table{
	background-color: #13673A;
	color: #FFF;
}

#entire_content{
	animation-name: slideModalContent;
	animation-duration: 1s;
}

.header-table-columns{
	background-color: #187f48;
}


.modal{
		display: none;
		position: auto;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
		animation-name: openModalBlock;
		animation-duration: .5s;
}

.preview_label{
	font-size: 1.1rem;
	font-weight: bold;
}

.countlabel{
  font-size: 1rem;
}

#Header{
	animation-name: slideHeader;
	animation-duration: 1s;
}


@keyframes slideHeader{
    from{
       opacity: 0;
			 transform: translateY(5rem);
   }
    to {
       opacity: 1;
			 transform: translateY(0);
   };
}

@keyframes openModalBlock{
    from{
       opacity: 0;

   }
    to {
       opacity: 1;

   };
}

@keyframes slideModalContent{
    from{
       opacity: 0;
			 transform: translateY(2.5rem);
   }
    to {
       opacity: 1;
			 transform: translateY(0);
   };
}
