#entirePage {
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4), 0 7px 20px 0 rgba(0,0,0,0.4);
		border-radius: 35px;
		background: #F4F4F4FF;
		height: auto;
		width: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		display: block;
		margin:0 auto;
		animation-name: slideModalContent;
		animation-duration: 1s;
}

.btn{
		border-radius: 15px;
		transition-duration: 0.1s;
		color: #111;
		background-color: #FFF;
		border-color: #13673A;
}
.btn:hover{
		background-color: #13673A;
		color: #FFF;
}
.btn:active {
		background-color: #13673A;
}
.boton{
	border-radius: 11px;
	height: 30px;
	width: 100%;
	border-width: 1px;
	transition-duration: 0.3s;
	background-color: #FFF;
	border-color: #13673A;
}

.boton:hover {
	background-color: #13673A;
	color: #FFF;
}

#header-table{
	background-color: #13673A;
	color: #FFF;
}

#entire_content{
	animation-name: slideModalContent;
	animation-duration: 1s;
}


.modal{
		display: none;
		position: auto;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
		animation-name: openModalBlock;
		animation-duration: .5s;
}

.preview_label{
	font-size: 1.1rem;
	font-weight: bold;
}

#Header{
	animation-name: slideHeader;
	animation-duration: 1s;
}


@keyframes slideHeader{
    from{
       opacity: 0;
			 transform: translateY(2.5rem);
   }
    to {
       opacity: 1;
			 transform: translateY(0);
   };
}

@keyframes openModalBlock{
    from{
       opacity: 0;

   }
    to {
       opacity: 1;

   };
}

@keyframes slideModalContent{
    from{
       opacity: 0;
			 transform: translateY(2.5rem);
   }
    to {
       opacity: 1;
			 transform: translateY(0);
   };
}
