.boton{
	border-radius: 11px;
	height: 30px;
	width: 100%;
	border-width: 1px;
	transition-duration: 0.3s;
	background-color: #FFF;
	border-color: #13673A;
}

.boton:hover {
	background-color: #13673A;
	color: #FFF;
}

#header-table{
	background-color: #13673A;
	color: #FFF;
}

.modal{
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
		animation-name: openModalBlock;
		animation-duration: .5s;
}


@keyframes openModalBlock{
    from{
       opacity: 0
   }
    to {
       opacity: 1
   }
