<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Registro de actividad</title>
    <!-- Bootstrap and CSS styles -->
    <link href="../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/css/registrar.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body onload="folio_ComboBox()">
    <!-- HEADER -->
    <div style="height:30px"></div>
    <div id="Header">
        <script type="text/javascript">
            $("#Header").load("shared/_header-sae.php #header-sae");
        </script>C
    </div>
    <!-- FIN HEADER -->


    <form name="entireForm" action="../control/registrarSolicitud.php" method="post">
        <div style="height:30px"></div>
        <div id="entirePage">
            <!-- FIRST ROW CONTAINING DROPDOWNS, MATRICULA INPUT AND TABLE -->
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <label>LA ACTIVIDAD SE REALIZO DENTRO DEL CAMPUS?</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="confirmacion_button_group">
                          <label class="btn btn-success btn-sm active" id="confirmacionSi">
                            <input type="radio" name="confirmacion" value="Si" checked> SI
                          </label>
                          <label class="btn btn-success btn-sm" id="confirmacionNo">
                            <input type="radio" name="confirmacion" value="No"> NO
                          </label>
                        </div>
                    </div>
                    <div class="col"> </div>
                    <div class="col-7">
                        <div class="form-group">
                            <label>SELECCIONE LA SOLICITUD PENDIENTE POR REGISTAR: </label>
                            <select class="form-control" id='folioCB' >
                            <option selected hidden value="0"> SELECCIONE </option>
                            <option id="clear" hidden value="clear">Ninguna </opction>
                        </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-11 col-md-4">
                        <div class="form-group">
                            <label>ELIJA EL TIPO DE EVENTO DE INTERES: </label>
                            <select class="form-control" id="eventoSelector">
                            <option value="Vinculacion">Vinculacion</option>
                            <option value="Cultural">Cultural</option>
                            <option value="Deportiva">Deportiva</option>
                            <option value="Responsabilidad Social">Responsabilidad Social</option>
                            <option value="Ci entifica">Cientifica</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label>SELECCIONE TIPO DE ACTIVIDAD A REALIZAR: </label>
                            <select class="form-control" id="actividadSelector" disabled="disabled">
                        </select>
                        </div>
                        <div style="height:5px;"></div>
                        <hr style="height: 10px;">
                        <!-- STATE AND CITY DROPDOWNS -->
                        <div class="form-group">
                            <label>SELECCIONE EL ESTADO:</label>
                            <select class="form-control" id="estadoSelector">

                        </select>
                        </div>
                        <div class="form-group">
                            <label>SELECCIONE LA CIUDAD: </label>
                            <select class="form-control" disabled="disabled" id="ciudadSelector">

                        </select>
                        </div>
                        <div style="height:5px;"></div>
                        <hr style="height: 10px;">
                        <div class="form-group">
                            <label>FECHA INICIAL DEL EVENTO: </label>
                            <input type="date" class="form-control" name="fecha" id=fecha>
                        </div>
                        <div class="form-group">
                            <label>HORA INICIAL DEL EVENTO: </label>
                            <select class="form-control" id="hora">

                        </select>
                        </div>
                    </div>
                    <!-- End of left column -->
                    <!--    <div class="col-md-1">

        </div> -->
                    <div class="col"> </div>
                    <div class="col-11 col-md-7">
                        <div class="form-group">
                            <label>INGRESAR MATRICULA DE LOS INTEGRANTES QUE ASISTIRAN:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ej. 1218229" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="button">Ingresar</button>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="scrollable">
                            <table class="table table-bordered" id="mostrarMatriculas">
                                <thead>
                                    <tr>
                                        <td>matricula</td>
                                        <td>nombre</td>
                                        <td>carrera</td>
                                        <td>grupo</td>
                                    </tr>
                                </thead>
                                <tbody id="matriculasTbody">

                                </tbody>

                            </table>

                        </div>

                    </div>
                    <!-- End of right column -->
                </div>
                <!-- End of row -->
            </div>
            <!-- End first row container -->

            <br>

            <!-- LUGAR DEL EVENTO -->
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <div class="form-group">
                            <label>LUGAR DEL EVENTO</label>
                            <input type="text" class="form-control" id="lugarEvento" placeholder="ej. CECUT">
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-primary btn-lg">SIGUIENTE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN LIGAR DEL EVENTO -->

            <hr>
            <br>
            <br>

            <!-- DATOS DE LA ACTIVIDAD -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="nombreActividad">Nombre de la actividad:</label>
                            <input type="text" class="form-control" id="nombreActividad">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="nombreOrganiza">Nombre de quien organiza:</label>
                            <input type="text" class="form-control" id="nombreOrganiza">
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-primary btn-lg">SIGUIENTE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DATOS DE LA ACTIVIDAD -->

            <hr>
            <br>
            <br>

            <!-- JUSTIFICACION DEL EVENTO -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="objetivoEvento">Ingrese brevemente el objetivo de la asistencia a este evento:</label>
                            <input type="text" class="form-control" id="objetivoEvento">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="materiaFortalecida">Seleccione la materia que se vera fortalecida por la realizacion de esta actividad:</label>
                            <select class="form-control" id="materiaFortalecida" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="maestroMateria">Nombre del maestro responsable de la materia:</label>
                            <input type="text" class="form-control" id="maestroMateria">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="aspectoProfesional">Aspecto profecional que se fortalecera por la realizacion de esta actividad: </label>
                            <select class="form-control" id="aspectoProfesional" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-7">
                        <div class="form-group">
                            <label for="proponeAsistir">Quien propone asistir al evento: </label>
                            <select class="form-control" id="proponeAsistir" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg">SOLICITAR PERMISO</button>
                </div>
            </div>
            <!-- FIN JUSTIFICACION DEL EVENTO -->
        </div>
    </form>

    <div style="height:40px"></div>
    <div id="warningModal" class="modal">
        <div class="modal-content">
            <h2>Favor de llenar todos los campos.</h2>
        </div>
    </div>

</body>
<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../assets/bootstrap/bootstrap.min.js"></script>
<script src="../js/registrar.js"></script>

</html>
